body {
  background-color: #0a2734;
}

.App {
  text-align: center;
}

.main-title {
  font-family: 'Fredoka One', cursive;
  color: aqua;
  font-size: xx-large;
}

ul {
  list-style-type: none;
  padding: 0;
}
.poke-item {
  border: 5px solid aqua;
  padding: 10px;
  border-radius: 6px;
  width: 200px;
  height: 250px;
  margin: 10px;
  background-color: paleturquoise;
}

.pokes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.pokemon__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.type {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
